/**
 * write all your reusable methods here...
 */
@mixin bri-theme($bg-color, $card-color, $color, $sb-bs, $sb-brr, $sb-text-color) {
    color: $color;
    background-color: $bg-color;

    .fa {
        color: $color;
    }

    .bri-col {
        background-color: $card-color !important;
    }

    .bri-sidebar {
        box-shadow: $sb-bs;
        border-right: $sb-brr;
        color: $sb-text-color;
        background-color: $bg-color;
    }
}

@mixin bri-nav($nav-color, $color) {
    color: $color;
    background-color: $nav-color;
}