.bri-navbar {
    .bg-dark {
        background-color: #000 !important;
    }

    .bri-navbar-right {
        .fa {
            color: #fff;
        }
    }

    .bri-sidebar {
        width: 225px;
        z-index: 1500;
        min-height: 94%;
        max-height: 100%;
        position: absolute;
    }
}