<div class="bri-navbar pos-f-t">
    <div [ngClass]="{'show': isToggled, 'collapsing': isCollapsing, 'collapse': !isCollapsing}">
        <div class="bg-dark p-4">
        <h4 class="text-white">Collapsed content</h4>
        <span class="text-muted">Toggleable via the navbar brand.</span>
        </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" attr.aria-expanded="isToggled" aria-label="Toggle navigation" (click)="onToggle($event)">
        <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
</div>